version: "3.8"

services:
  bytebin:
    image: ghcr.io/lucko/bytebin
    command: ["java", "-Xmx500m", "-Xms300m", "-jar", "bytebin.jar"]
    restart: unless-stopped
    ports:
      - 127.0.0.1:4084:8080
    volumes:
      - data:/opt/bytebin/content
      - logs:/opt/bytebin/logs
      - db:/opt/bytebin/db
    environment:
      BYTEBIN_METRICS_ENABLED: "true"
      BYTEBIN_MISC_KEYLENGTH: 10
      BYTEBIN_MISC_COREPOOLSIZE: 16
      BYTEBIN_CACHE_EXPIRY: 20 # minutes
      BYTEBIN_CACHE_MAXSIZE: 200 # mb
      BYTEBIN_CONTENT_EXPIRY: 10080 # minutes
      BYTEBIN_CONTENT_EXPIRY_USERAGENTS: >-
        spark-plugin=129600,
        spark-plugin/live=60,
        https://luckperms.net=60,
        luckperms/editor=60,
        https://paste.lucko.me=259200,
        https://pastebin.lucko.me=259200,
        https://pastes.dev=259200,
        api.pastes.dev=43200,
        paste-netcat=43200,
        https://webui.advntr.dev=129600,
        https://webui.adventure.kyori.net=129600,
        https://bytebin.lucko.me=259200
      BYTEBIN_HTTP_HOSTALIASES: api.pastes.dev=pastes.dev
      BYTEBIN_RATELIMIT_APIKEYS: ${BYTEBIN_API_KEYS}
      BYTEBIN_CONTENT_MAXSIZE: 10 # mb
      BYTEBIN_STORAGE_S3: "true"
      BYTEBIN_STORAGE_S3_BUCKET: ${BYTEBIN_STORAGE_S3_BUCKET}
      BYTEBIN_STORAGE_S3_SIZE_THRESHOLD: 7000 # 7mb
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_REGION: ${AWS_REGION}

volumes:
  data: {}
  logs: {}
  db: {}
