global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    scrape_interval: 5s
    static_configs:
    - targets: ["localhost:9090"]

  - job_name: "node"
    static_configs:
    - targets: ["node-exporter:9100"]
  
  - job_name: "cadvisor"
    static_configs:
    - targets: ["cadvisor:8080"]

  - job_name: "bytesocks"
    static_configs:
    - targets: ["bytesocks:8080"]

  - job_name: "bytebin"
    static_configs:
    - targets: ["bytebin:8080"]
  
  - job_name: "metadata-api"
    static_configs:
    - targets: ["metadata-api:3000"]

  - job_name: "pushgateway"
    honor_labels: true
    static_configs:
    - targets: ["pushgateway:9091"]
